<h2>Update Address</h2>
<br>
<div [hidden]="submitted">
    <form (submit)="updateAddress()">
      <label>Building Name</label>
      <input type="text" name="buildingName" [(ngModel)]="address.buildingName">

      <label>Street</label>
      <input type="text" name="street"[(ngModel)]="address.street">
  
      <label>City</label>
      <input type="text" name="city"[(ngModel)]="address.city">

      <label>Pin</label>
      <input type="text" name="pin"[(ngModel)]="address.pin">

      <input type="submit" value="Update Address">
    </form>
  </div>
  <div [hidden]="!submitted">
    <h4> Address updated successfully</h4>
    <br>
    <button (click)="backtohome()">Back To Home</button>

  </div>